/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: rgba(47, 47, 47, 0.612);
    --darker: rgba(41, 41, 41, 0.879);
}

body{
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
   background-image: url("./assets/burgers/wallpaper.jpg");
   background-size: cover;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto ;
  grid-template-rows: 200px 1fr 100px;
   
}

.header{
    
   position: relative;
    width: 100%;
    
    background: var(--dark);
   text-align: center;

}
.footer{
    background:var(--dark);
}

.restaurant-name{
    margin-top: 50px;
}


.header nav{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.main{
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 800px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.home{
    background:var(--darker);
    width: 50%;
    min-height: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.homeImage{
    width: 200px
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 80px;
    justify-content: center;
    cursor: pointer;
    
}

.menu-item{
    width: 300px;
    height: 300px;
    background-color: var(--darker);
    color: #f5f5f5;
    padding: 20px 8px
}
.menu-item img{
    width: 180px;
    height: 180px;
}

.contact{
 width: 600px;
 height: 600px;
 background-color: var(--darker);
 color: #f5f5f5;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

.contact img{
    width: 450px;
    height: 266px;
    border-radius: 20px;
}